<!DOCTYPE html>
<html lang="en">
  <title>YoClicker - Dashboard</title>
  <%- include head.ejs %>
  <head>
  </head>
  <body>
    <ul>
      <li>HI <%= username %></li>
  	<% for (var i = 0; polls && i < polls.length; ++i) { %>
  	  <li>
  	  	<a href="<%= '/viewer/'+polls[i].pollname %>">
            <%= polls[i].pollname %>
          </a>
  	  </li>
  	<% } %>
      <li>
        <a href="<%= '/create/'+uid %>">
          <%= (polls.length > 0 ? '+' : 'CREATE POLL') %>
        </a>
      </li>
      <li class="tutorial">
        TAP POLL TO SEE RESULTS. SEND A YO! TO THE POLL NAME TO VOTE. 
      </li>
    </ul>
  </body>
</html>