<!DOCTYPE html>
<html lang="en">
  <title>YoClicker - Dashboard</title>
  <%- include head.ejs %>
  <head>
  </head>
  <body>
    <ul>
      <li>HI <%= username %></li>
  	<% for (var i = 0; polls && i < polls.length; ++i) { %>
  	  <li>
  	  	<a href="<%= '/edit/'+polls[i].pid+'/'+uid %>">
            <%= polls[i].pollname %>
          </a>
  	  </li>
  	<% } %>
      <li>
        <a href="<%= '/create/'+uid %>">
          +
        </a>
      </li>
    </ul>
  </body>
</html>